interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.oireachtas.ie/v1/constituencies
  response:
    body:
      string: '{"head":{"counts":{"constituencyCount":8,"resultCount":8}},"results":[{"constituencyOrPanel":{"uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/house\/seanad\/9\/panel\/Nominated-by-the-Taoiseach","representType":"panel","representCode":"Nominated-by-the-Taoiseach","showAs":"Nominated
        by the Taoiseach"},"house":{"houseNo":"9","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/house\/seanad\/9","houseCode":"seanad","showAs":"9th
        Seanad"}},{"constituencyOrPanel":{"uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/house\/seanad\/9\/panel\/Agricultural-Panel","representType":"panel","representCode":"Agricultural-Panel","showAs":"Agricultural
        Panel"},"house":{"houseNo":"9","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/house\/seanad\/9","houseCode":"seanad","showAs":"9th
        Seanad"}},{"constituencyOrPanel":{"uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/house\/seanad[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.oireachtas.ie/v1/constituencies?limit=1
  response:
    body:
      string: '{"head":{"counts":{"constituencyCount":8,"resultCount":8}},"results":[{"constituencyOrPanel":{"uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/house\/seanad\/9\/panel\/Nominated-by-the-Taoiseach","representType":"panel","representCode":"Nominated-by-the-Taoiseach","showAs":"Nominated
        by the Taoiseach"},"house":{"houseNo":"9","uri":"h[...]
