interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.oireachtas.ie/v1/debates
  response:
    body:
      string: '{"head":{"counts":{"debateCount":10000,"resultCount":10000}},"results":[{"contextDate":"2025-07-22","debateRecord":{"lastUpdated":"2025-07-25T03:08:32+01:00","uri":"https:\/\/data.oireachtas.ie\/akn\/ie\/debateRecord\/joint_committee_on_finance_public_expenditure_public_service_reform_and_digitalisation_and_taoiseach\/2025-07-22\/debate\/main","chamber":{"uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/def\/committee","showAs":"Joint
        Committee on Finance, Public Expenditure, Public Service Reform and Digitalisation,
        and Taoiseach"},"debateType":"debate","counts":{"debateSectionCount":1,"divisionCount":0,"questionCount":0,"billCount":0,"contributorCount":9},"house":{"houseCode":"dail","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/committee\/dail\/34\/joint_committee_on_finance_public_expenditure_public_service_reform_and_digitalisation_and_taoiseach","chamberType":"committee","houseNo":"34","committeeCode":"joint_committee_on_finance_public_expenditure_public_service_reform_and_digitalisation_and_taoiseach","showAs":"Joint
        Committee on Finance, Public Expenditure, Public Service Reform and Digitalisation,
        and Taoiseach"},"formats":{"pdf":{"uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/debateRecord\/joint_committee_on_finance_public_expenditure_public_service_reform_and_digitalisation_and_taoiseach\/2025-07-22\/debate\/mul@\/main.pdf"},"writtens_pdf":null,"xml":{"uri":"https:\/\/data.oireachtas.ie\/akn\/ie\/debateRecord\/joint_committee_on_finance_public_expenditure_public_service_reform_and_digitalisation_and_taoiseach\/2025-07-22\/debate\/mul@\/main.xml"}},"debateSections":[{"debateSection":{"parentDebateSection":null,"uri":"https:\/\/data.oireachtas.ie\/akn\/ie\/debateRecord\/joint_committee_on_finance_public_expenditure_public_service_reform_and_digitalisation_and_taoiseach\/2025-07-22\/debate\/dbsect_2","formats":{"pdf":null,"xml":null},"debateType":"debate","counts":{"speechCount":321,"speakerCount":10},"speakers":[],"bill":null,"debateSectionId":"dbsect_2","containsDebate":true,"showAs":"Engagement
        with the NTMA on Matters Relating to its Operation"}}],"date":"2025-07-22"}},{"contextDate":"2025-07-17","debateRecord":{"lastUpdated":"2025-07-18T15:30:45+01:00","counts":{"contributorCount":30,"debateSectionCount":10,"questionCount":0,"divisionCount":0,"billCount":1},"chamber":{"showAs":"Seanad
        \u00c9ireann","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/def\/house\/seanad"},"date":"2025-07-17","house":{"committeeCode":"","houseCode":"seanad","houseNo":"27","showAs":"27th
        Seanad","chamberType":"house","uri":"https:\/\/data.oireachta[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.oireachtas.ie/v1/debates?limit=1
  response:
    body:
      string: '{"head":{"counts":{"debateCount":10000,"resultCount":10000}},"results":[{"contextDate":"2025-07-22","debateRecord":{"lastUpdated":"2025-07-25T03:08:32+01:00","uri":"https:\/\/data.oireachtas.ie\/akn\/ie\/debateRecord\/joint_committee_on_finance_public_expenditure_public_service_reform_and_digitalisation_and_taoiseach\/2025-07-22\/debate\/main","chamber[...]
