interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.oireachtas.ie/v1/divisions
  response:
    body:
      string: '{"head":{"counts":{"divisionCount":10000,"resultCount":10000}},"results":[{"division":{"debate":{"debateSection":"dbsect_5","uri":"https:\/\/data.oireachtas.ie\/akn\/ie\/debateRecord\/select_committee_on_enterprise_tourism_and_employment\/2025-07-17\/debate\/main","showAs":"Copyright
        and Related Rights (Amendment) Bill 2025: Committee Stage","formats":{"xml":{"uri":"https:\/\/data.oireachtas.ie\/akn\/ie\/debateRecord\/select_committee_on_enterprise_tourism_and_employment\/2025-07-17\/debate\/mul@\/main.xml"},"pdf":null}},"outcome":"Lost","tallies":{"staonVotes":null,"nilVotes":{"showAs":"N\u00edl","members":[{"member":{"memberCode":"Grace-Boland.D.2024-11-29","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/member\/id\/Grace-Boland.D.2024-11-29","showAs":"Boland,
        Grace."}},{"member":{"memberCode":"Brian-Brennan.D.2024-11-29","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/member\/id\/Brian-Brennan.D.2024-11-29","showAs":"Brennan,
        Brian."}},{"member":{"memberCode":"Cormac-Devlin.D.2020-02-08","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/member\/id\/Cormac-Devlin.D.2020-02-08","showAs":"Devlin,
        Cormac."}},{"member":{"memberCode":"Albert-Dolan.D.2024-11-29","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/member\/id\/Albert-Dolan.D.2024-11-29","showAs":"Dolan,
        Albert."}},{"member":{"memberCode":"Niamh-Smyth.D.2016-10-03","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/member\/id\/Niamh-Smyth.D.2016-10-03","showAs":"Smyth,
        Niamh."}}],"tally":5},"taVotes":{"showAs":"T\u00e1","members":[{"member":{"memberCode":"Paul-Donnelly.D.2020-02-08","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/member\/id\/Paul-Donnelly.D.2020-02-08","showAs":"Donnelly,
        Paul."}},{"member":{"memberCode":"George-Lawlor.D.2024-11-29","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/member\/id\/George-Lawlor.D.2024-11-29","showAs":"Lawlor,
        George."}},{"member":{"memberCode":"Aengus-\u00d3-Snodaigh.D.2002-06-06","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/member\/id\/Aengus-\u00d3-Snodaigh.D.2002-06-06","showAs":"\u00d3
        Snodaigh, Aengus."}}],"tally":3}},"subject":{"uri":null,"showAs":"Amendment
        put: "},"datetime":"2025-07-17T09:30:00+01:00","voteNote":"","tellers":"","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/division\/committee\/dail\/34\/select_committee_on_enterprise_tourism_and_employment\/2025-07-17\/vote_1","voteId":"vote_1","chamber":{"uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/def\/committee","showAs":"Select
        Committee on Enterprise, Tourism and Employment"},"category":"Division","date":"2025-07-17","isBill":false,"house":{"houseCode":"dail","showAs":"Select
        Committee on Enterprise, Tourism and Employment","committeeCode":"select_committee_on_enterprise_tourism_and_employment","chamberType":"committee","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/committee\/dail\/34\/select_committee_on_enterprise_tourism_and_employment","houseNo":"34"}},"contextDate":"2025-07-17"},{"division":{"debate":{"debateSection":"dbsect_5","uri":"https:\/\/data.oireachtas.ie\/akn\/ie\/debateRecord\/select_committee_on_enterprise_tourism_and_employment\/2025-07-17\/debate\/main","showAs":"Copyright
        and Related Rights (Amendment) Bill 2025: Committee Stage","formats":{"xml":{"uri":"https:\/\/data.oireachtas.ie\/akn\/ie\/debateRecord\/select_committee_on_enterprise_tourism_and_employment\/2025-07-17\/debate\/mul@\/main.xml"},"pdf":null}},"outcome":"Lost","tallies[...]
