interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.oireachtas.ie/v1/houses
  response:
    body:
      string: '{"head":{"counts":{"housesCount":68,"resultCount":68}},"results":[{"house":{"chamberType":"house","houseCode":"dail
        & seanad","houseNo":"27","showAs":"34th D\u00e1il & 27th Seanad","seats":234,"dateRange":{"end":null,"start":"2025-01-29"},"houseType":"dail
        & seanad","chamberCode":"dail & seanad","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/house\/dail
        & seanad\/27"}},{"house":{"chamberType":"house","houseCode":"seanad","houseNo":"27","showAs":"27th
        Seanad","seats":60,"dateRange":{"end":null,"start":"2025-01-29"},"houseType":"seanad","chamberCode":"seanad","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/house\/seanad\/27"}},{"house":{"chamberType":"house","houseCode":"dail","houseNo":"34","showAs":"34th
        D\u00e1il","seats":174,"dateRang[...]
