interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.oireachtas.ie/v1/legislation
  response:
    body:
      string: '{"head":{"counts":{"billCount":5919,"resultCount":5919}},"results":[{"bill":{"act":{"actNo":"3","actYear":"2025","dateSigned":"2025-04-15","longTitleEn":"<p>Act
        to amend the Financial Services and Pensions Ombudsman Act 2017; to make provision
        regarding the calculation of expenses incurred by the Ombudsman in the performance
        of his or her functions; to provide for the appointment of additional persons
        to act as Ombudsman; to make further provision for the conduct of investigations;
        to provide for certain other consequential amendments; and to provide for
        related matters.<\/p>\n","longTitleGa":"<p>Acht do leas\u00fa Acht an Ombudsman
        Seirbh\u00eds\u00ed Airgeadais agus Pinsean, 2017; do dh\u00e9anamh socr\u00fa
        maidir le caiteachais arna dtabh\u00fa ag an Ombudsman i gcomhl\u00edonadh
        a fheidhmeanna n\u00f3 a feidhmeanna a r\u00edomh; do dh\u00e9anamh socr\u00fa
        maidir le daoine breise a cheapadh chun gn\u00edomh\u00fa mar Ombudsman; do
        dh\u00e9anamh socr\u00fa breise maidir le himscr\u00faduithe a sheoladh; do
        dh\u00e9anamh socr\u00fa maidir le leasuithe iarmhartacha \u00e1irithe eile;
        agus do dh\u00e9anamh socr\u00fa i dtaobh nithe gaolmhara.<\/p>\n","shortTitleEn":"Financial
        Services and Pensions Ombudsman (Amendment) Act 2025","shortTitleGa":"Acht
        an Ombudsman Seirbh\u00eds\u00ed Airgeadais agus Pinsean (Leas\u00fa), 2025","statutebookURI":"http:\/\/www.irishstatutebook.ie\/eli\/2025\/act\/3","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/act\/2025\/3"},"amendmentLists":[{"amendmentList":{"amendmentTypeUri":{"uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/def\/amendment-type\/numberedList"},"chamber":{"showAs":"Seanad","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/def\/seanad"},"date":"2025-04-01","formats":{"pdf":{"uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/bill\/2023\/97\/seanad\/3\/amendment\/numberedList\/eng\/b97a23d-scnl.pdf"},"xml":null},"showAs":"Numbered
        List [Seanad]","stage":{"showAs":"Committee Stage","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/bill\/2023\/97\/seanad\/3"},"stageNo":"3"}},{"amendmentList":{"amendmentTypeUri":{"uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/def\/amendment-type\/numberedList"},"chamber":{"showAs":"Dail","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/def\/dail"},"date":"2025-03-04","formats":{"pdf":{"uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/bill\/2023\/97\/dail\/3\/amendment\/numberedList\/eng\/b9723d-dcnl.pdf"},"xml":null},"showAs":"Numbered
        List [D\u00e1il]","stage":{"showAs":"Committee Stage","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/bill\/2023\/97\/dail\/3"},"stageNo":"3"}}],"billNo":"97","billType":"Public","billTypeURI":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/def\/bill-type\/public","billYear":"2023","debates":[{"chamber":{"showAs":"Seanad
        \u00c9ireann","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/def\/house\/seanad"},"date":"2025-04-10","debateSectionId":"dbsect_9","showAs":"Financial
        Services and Pensions Ombudsman (Amendment) Bill 2023: Report and Final Stages","uri":"https:\/\/data.oireachtas.ie\/akn\/ie\/debateRecord\/seanad\/2025-04-10\/debate\/main"},{"chamber":{"showAs":"Seanad
        \u00c9ireann","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/def\/house\/seanad"},"date":"2025-04-01","debateSectionId":"dbsect_11","showAs":"Financial
        Services and Pensions Ombudsman (Amendment) Bill 2023: Committee Stage","uri":"http[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.oireachtas.ie/v1/legislation?limit=1
  response:
    body:
      string: '{"head":{"counts":{"billCount":5919,"resultCount":5919}},"results":[{"bill":{"act":{"actNo":"3","actYear":"2025","dateSigned":"2025-04-15","longTitleEn":"<p>Act
        to amend the Financial Services and Pensions Ombudsman Act 2017; to make provision
        regarding the calculation of expenses incurred by the Ombudsman in the performance
       [...]
