interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.oireachtas.ie/v1/members
  response:
    body:
      string: '{"head":{"counts":{"memberCount":1927,"resultCount":1927}},"results":[{"member":{"gender":"","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/member\/id\/Henry-J-J-Abbott.D.1987-03-10","pId":"HenryJJAbbott","firstName":"Henry
        J. J.","lastName":"Abbott","image":false,"wikiTitle":null,"memberships":[{"membership":{"house":{"uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/house\/dail\/25","houseCode":"dail","houseNo":"25","chamberType":"house","showAs":"25th
        D\u00e1il"},"represents":[{"represent":{"representCode":"Longford-Westmeath","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/house\/dail\/25\/constituency\/Longford-Westmeath","representType":"constituency","showAs":"Longford-Westmeath"}}],"uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/member\/id\/Henry-J-J-Abbott.D.1987-03-10\/house\/dail\/25","dateRange":{"end":"1989-05-25","start":"1987-03-10"},"committees":[],"parties":[{"party":{"partyCode":"Fianna_F\u00e1il","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/party\/dail\/25\/Fianna_F\u00e1il","dateRange":{"end":"1989-05-25","start":"1987-02-17"},"showAs":"Fianna
        F\u00e1il"}}],"offices":[]}}],"dateOfDeath":null,"fullName":"Henry J. J. Abbott","memberCode":"Henry-J-J-Abbott.D.1987-03-10","showAs":"Henry
        J. J. Abbott"}},{"member":{"gender":"","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/member\/id\/Caroline-Acheson.D.1981-06-30","pId":"CarrieAcheson","firstName":"Caroline","lastName":"Acheson","image":false,"wikiTitle":null,"memberships":[{"membership":{"house":{"uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/house\/dail\/22","houseCode":"dail","houseNo":"22","chamberType":"house","showAs":"22nd
        D\u00e1il"},"represents"[...]
