interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.oireachtas.ie/v1/parties
  response:
    body:
      string: '{"head":{"counts":{"partyCount":11,"resultCount":11}},"results":[{"party":{"partyCode":"Renua","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/party\/dail\/31\/Renua","showAs":"Renua"},"house":{"uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/house\/dail\/31","houseCode":"dail","houseNo":"31","showAs":"31st
        D\u00e1il"}},{"party":{"partyCode":"Socialist_Party","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/party\/dail\/31\/Socialist_Party","showAs":"Socialist
        Party"},"house":{"uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/house\/dail\/31","houseCode":"dail","houseNo":"31","showAs":"31st
        D\u00e1il"}},{"party":{"partyCode":"Fine_Gael","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/party\/dail\/31\/Fine_Gael","showAs":"Fine
        Gael"},"h[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.oireachtas.ie/v1/parties?limit=1
  response:
    body:
      string: '{"head":{"counts":{"partyCount":11,"resultCount":11}},"results":[{"party":{"partyCode":"Renua","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/party\/dail\/31\/Renua","showAs":"Renua"},"house":{"uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/house\/dail\/31","houseCode":"dail","houseNo":"31","showAs":"31st
        D\u00e1il"}},{"party":{"part[...]
