interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.oireachtas.ie/v1/questions
  response:
    body:
      string: '{"head":{"counts":{"questionCount":10000,"resultCount":10000}},"results":[{"question":{"date":"2025-07-17","debateSection":{"formats":{"xml":{"uri":"https:\/\/data.oireachtas.ie\/akn\/ie\/debateRecord\/dail\/2025-07-17\/debate\/mul@\/dbsect_3.xml"},"pdf":null},"showAs":"Public
        Expenditure Policy","debateSectionId":"dbsect_3","uri":"https:\/\/data.oireachtas.ie\/akn\/ie\/debateRecord\/dail\/2025-07-17\/debate\/dbsect_3"},"to":{"uri":null,"roleType":null,"showAs":"Public
        Expenditure","roleCode":null},"questionNumber":1,"uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/question\/2025-07-17\/pq_1","showAs":"
        1. Deputy Mair\u00e9ad Farrell asked the Minister for Public Expenditure,
        Infrastructure, Public Service Reform and Digitalisation for an update on
        general budgetary expenditure measures. [39486\/25] ","by":{"uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/member\/id\/Mair\u00e9ad-Farrell.D.2020-02-08","showAs":"Mair\u00e9ad
        Farrell","memberCode":"Mair\u00e9ad-Farrell.D.2020-02-08"},"questionType":"oral","house":{"committeeCode":"","houseCode":"dail","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/house\/dail\/34","chamberType":"house","showAs":"34th
        D\u00e1il","houseNo":"34"}},"contextDate":"2025-07-17"},{"question":{"date":"2025-07-17","debateSection":{"formats":{"xml":{"uri":"https:\/\/data.oireachtas.ie\/akn\/ie\/debateRecord\/dail\/2025-07-17\/writtens\/mul@\/dbsect_51.xml"},"pdf":null},"showAs":"National
        Development Plan","debateSectionId":"dbsect_51","uri":"https:\/\/data.oireachtas.ie\/akn\/ie\/debateRecord\/dail\/2025-07-17\/writtens\/dbsect_51"},"to":{"uri":null,"roleType":null,"showAs":"Public
        Expenditure","roleCode":null},"questionNumber":2,"uri":"https:\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.oireachtas.ie/v1/questions?limit=1
  response:
    body:
      string: '{"head":{"counts":{"questionCount":10000,"resultCount":10000}},"results":[{"question":{"date":"2025-07-17","debateSection":{"formats":{"xml":{"uri":"https:\/\/data.oireachtas.ie\/akn\/ie\/debateRecord\/dail\/2025-07-17\/debate\/mul@\/dbsect_3.xml"},"pdf":null},"showAs":"Public
        Expenditure Policy","debateSectionId":"dbsect_3","uri":"https:\/\/data.oireachtas.ie\/akn\/ie\/debateRecord\/dail\/2025-07-17\/debate\/dbsect_3"},"to":{"uri":null,"roleType":null,"showAs":"Public
        Expenditure","roleCode":null},"questionNumber":1,"uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/question\/2025-07-17\/pq_1","showAs":"
        1. Deputy Mair\u00e9ad Farrell asked the Minister for Public Expenditure,
        Infrastructure, Public Service Reform and Digitalisation for an update on
        general budgetary expenditure measures. [39486\/25] ","by":{"uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/member\/id\/Mair\u00e9ad-Farrell.D.2020-02-08","showAs":"Mair\u00e9ad
        Farrell","memberCode":"Mair\u00e9ad-Farrell.D.2020-02-08"},"questionType":"oral","house":{"committeeCode":"","houseCode":"dail","uri":"https:\/\/data.oireachtas.ie\/ie\/oireachtas\/house\/dail\/34","chamberType":"house","showAs":"34th
        D\u00e1il","houseNo":"34"}},"contextDate":"2025-07-17"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
